<link href="http://51sex.vip/Content/global/default/font/font.css" rel="stylesheet" />
<link href="http://51sex.vip/Content/global/default/css6.css?v=15" rel="stylesheet" />

<div class="headling_main" >
   <div class="headling_word_main_box_title">{{.title}} </div>
   <div class="headling_word_main_box_time">{{.time}} </div>
   {{.content}}
</div>
